.parent{
    width: 100vw;
    height:100vh ;
    background-color:rgb(149, 149, 225) ;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    overflow: auto; */

}
.left{
    width: 20%;
    height:100%;
    background-color:black;
    overflow: auto;
    color: white;
}

.right{
    width: 80%;
    height:100% ;
    background-color:rgb(170, 161, 178) ;
    overflow: auto;
}
button{
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(220, 132, 132);
    cursor: pointer;
    font-size: 20px;
}
form{
    
    text-align: center;
   
}
h2:hover{
    background-color: red;
    border-radius: 10px;
}
h1:hover{
    background-color: red;
    border-radius: 10px;
}
