<p>smart-shopping works!</p>
<div class="parent">
    <div class="top">
        <div class="left">
        <input type="text" placeholder="Search">
        <button class="btn btn-primary">Only free delivery</button>
        <br>
        <br>
        <button class="btn btn-secondary">price low to high</button>
        <button class="btn btn-success">price high to low</button>
        <button class="btn btn-info">rating low to high</button>
        <button class="btn btn-warning">rating high to low</button>
        <br> 
        <br>
        <button class="btn btn-primary">Apply 50% discount</button>
        <button (click)="deliverycharges()">price with delivery charges</button>
        <br>
        <br>
        <button (click)="total()">Total price</button>
        <button (click)="cartitems()">Total cart items</button>
        </div>
        <div class="right">
                <label for="">Name:</label>
                <input type="text" [(ngModel)]="name">
                <br>
                <br>
                <label for="">Price</label>
                <input type="text" [(ngModel)]="price">
                <br>
                <br>
                <label for="">Rating</label>
                <input type="text" [(ngModel)]="rating">
                <br>
                <br>
                <label for="freedelivery">Free Delivery</label>
                <input type="radio" [(ngModel)]="freedelivery" value="true">
                <label for="yes">YES</label>
                <input type="radio" [(ngModel)]="freedelivery" value="false">
                <label for="no">NO</label>
                <br>
                <br>
                <button (click)="addcart()">Add to Cart</button>
        </div>
        <div class="bottom">
        <table id="table"border="2" class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Free Delivery</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products, let i=index">
                    <td>{{product.sno}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.rating}}</td>
                    <td>{{product.freedelivery ? 'Yes':'No'}}</td>
                    <td><button (click)="delete(i)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
