<p>create-employee works!</p>
<div class="parent">
<h1>create-employee Form</h1>
<form action="">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>
    <br>
    <label>Phone</label>
    <input type="number" formControlName="number">
    <br>
    <br>
    <div formGroupName="experience">
    <label>company</label>
    <input type="text" formControlName="company">
    <label>experience</label>
    <input type="text" formControlName="experience">
    <label >package</label>
    <br>
    <br>
    </div>
    <div formGroupName="skills">
        <label>name</label>
        <input type="text" formControlName="name">
        <label>rating</label>
        <input type="text" formControlName="rating">
        <label >experience</label>
        <input type="text" formControlName="experience">
        <label>name</label>
        <input type="text" formControlName="name">
        <label>rating</label>
        <input type="text" formControlName="rating">
        <label >experience</label>
        <input type="text" formControlName="experience">
        <br>
        <br>
        </div>
</form>

</div>
