

.parent{
    width: 100vw;
    height: 100vh;
    background-color:blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    text-align: center;
}
button{
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
    border: 0;
    margin-top: 10px;
    border-radius: 10px;
}
form {
    background-color: white;
    width: 300px;
    text-align: center;
    height: 150px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px grey;
}