  <div class="parent">
    <div class="child">
      <div class="left">
        <h3>Filter</h3><br>
        <h4>Category</h4><br>
        <input (click)="filterByCategory('men')" type="checkbox" id="mens-clothing">
        <label for="mens-clothing">Men's Clothing</label><br>
        <input (click)="filterByCategory('jewelery')" type="checkbox" id="jewellery">
        <label for="jewellery">Jewellery</label><br>
        <input (click)="filterByCategory('women')" type="checkbox" id="womens-clothing">
        <label for="womens-clothing">Women's Clothing</label><br><br>
        <h4>Price</h4><br>
        <input (click)="filterByPrice(1)" type="checkbox" id="price-7-50">
        <label for="price-7-50">Rs.7 to Rs.50</label><br>
        <input (click)="filterByPrice(2)" type="checkbox" id="price-50-300">
        <label for="price-50-300">Rs.50 to Rs.300</label><br>
        <input (click)="filterByPrice(3)" type="checkbox" id="price-300-600">
        <label for="price-300-600">Rs.300 to Rs.600</label><br>
        <input (click)="filterByPrice(4)" type="checkbox" id="price-600-1000">
        <label for="price-600-1000">Rs.600 to Rs.1000</label><br>
      </div>
      <div class="right">
        <div class="r1">
          <div class="a" *ngFor="let product of products; let i = index">
            <img src="{{product.image}}" alt="Product Image" height="100px" width="150px"><br>
            <h6>{{product.title}}</h6>
            <p>{{product.category}}</p>
            <b>{{product.price}}</b> <del>Rs.699</del> <i>(55% OFF)</i>
          </div>
        </div>
      </div>
    </div>
  </div>