.parent{
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    
}
.child1{
    background-color:cornflowerblue;
    border-radius: 10%;
    border: 10px solid white;
    width:500px;
    height:500px;
    position:relative;
    top:20px;
}
.child2{
    background-color:cornflowerblue;
    border-radius: 10%;
    border: 10px solid wheat;
    width:500px;
    height:500px;
    position: relative;
    top:20px;
    
}
